{% extends "layout.html" %}

{% block title %}
    Edit Card
{% endblock %}

{% block main %}
    <h2>
        Edit Card: {{ deckname }}
    </h2>
    <p>
        View, create, and modify the cards in this deck!<br/>
    </p>

    <div class="text-right"><a href="/cards" class="btn btn-secondary">View Cards</a></div>

    <div class="form-group mt-0">
        {% for error in errors %}
            <span class="text-danger">{{error}}</span><br/>
        {% endfor %}
    </div>

    <form action="/edit" method="post">

        <input type="hidden" name="id" value="{{card['id']}}">

        <div class="d-flex justify-content-center flex-wrap">

            <!-- Front -->
            <div class="card deck" style="cursor: auto;">
                <div class="card-body overflow-hidden pb-1">
                    <textarea name="question" maxlength="320" placeholder="Click to add question text!" autocomplete="off" class="textarea-flashcard w-100 h-100" required>{{card['question']}}</textarea>
                </div>
                <div class="text-center"><p class="card-text text-primary">Front</p></div>
            </div>

            <!-- Back -->
            <div class="card deck" style="cursor: auto; background-color: #ffffee;">
                <div class="card-body overflow-hidden pb-1">
                    <textarea name="answer" maxlength="320" placeholder="Click to add answer text!" autocomplete="off" class="textarea-flashcard w-100 h-100" required>{{card['answer']}}</textarea>
                </div>
                <div class="text-center"><p class="card-text text-primary">Back</p></div>
            </div>

        </div>

        <div class="text-right mt-4"><button class="btn btn-danger mr-3" type="button" onclick="deleteCard({{card['id']}})">Delete Card</button><button class="btn btn-primary" type="submit">Save Changes</button></div>
    </form>

    <script>
        function deleteCard(id) {
            if (window.confirm("Are you sure you want to delete this card?")) {
                window.location.href = "/delete_card?id=" + id;
            }
        }
    </script>

{% endblock %}