<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Litera Theme sourced from https://bootswatch.com/litera/ -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Bootstrap sourced from https://getbootstrap.com/docs/4.3/ -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- Brand Text -->
        <a class="navbar-brand" href="/">Flash Cards</a>
        <!-- Toggle button for mobile -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle Nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Portion -->
        <div class="collapse navbar-collapse" id="navbarMain">

            <!-- List of items -->
            {% if username %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/decks">Decks</a></li>
                <li class="nav-item"><a class="nav-link" href="/cards">Cards</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/add">Add Card</a></li>
                <li class="nav-item"><a class="nav-link nav-practice" href="/practice">Practice</a></li>
            </ul>

            <span class="nav-deck">Active Deck: <b>{{ deckname }}</b></span>

            <!-- Login Notice -->
            <div class="text-login small text-right">
                Logged in as: {{ username }}<br/>
                <a class="logout-link" href="/logout">Logout?</a>
            </div>
            {% endif %}
        </div>
    </nav>

    <!-- Content -->
    <main class="container p-4">
        {% block main %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center text-dark p-1 fixed-bottom bg-footer pt-4">
        <div class="small clear-both">Developed by Jessie Starborne as part of Harvard CS50.</div>
        <div class="small">Copyright &copy; 2021</div>
    </footer>

</body>
</html>